<!DOCTYPE html>
<html>
  <body>
    <p>Hi {{firstName}},</p>
    <p>You have successfully bookmarked the event: <strong>{{event.name}}</strong>.</p>
    <p>Check the attached PDF for full event details.</p>
  </body>
</html>
